
.search-form  {
  display: flex;
  align-items: center;
}
.search-icon {
  position: absolute;
  padding-left: .2rem;
}
.search {
  width: 1rem;
  padding: .2rem;
}

.search:focus {
  width: 12rem;
  padding: .2rem;
  transition: all .3s;
}


.search-label {
  display: none;
}