.timer {
  border: 1px solid rgba(117, 117, 117, 0.798);
  width: 50vw;
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 20px;
  box-shadow:  0px 2px 20px 1px rgb(65 15 73);
}

h3, p {
  font-weight: 300;
  margin: 1rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.error {
  font-size: .8rem;
  color: red;
}

.timer-form {
  display: flex;
}

label {
  font-size: 1rem;
}

#add-minute-button {
  font-size: 12px;
  background-color: transparent;
  color: #9c27b0;
  border: solid .3px;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
}

.hide-timer {
  display: none;
}