:root {
  --background: #292929;
  }

.nav {
  background-color: var(--background) !important;
  color: #fff;
  position: fixed;
  top: 0;
  bottom: auto;
  display: flex;
  flex-direction: row-reverse;
  width: 95%;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
  z-index: 1;
}

.menu-icon {
  margin-left: 5rem;
}
.search-add {
  display: flex;
  color: #fff;
  align-items: center;
  cursor: pointer;
}

@media all and (max-width:500px) {
  .nav {
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  } 
  #add-timer__button{
    position: absolute;
    top: 12px;
    right: 26px;
  }
  h1 {
    color: #9c27b0;
    margin-left: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
  }
  .search-add {
    margin-right: 0rem;
  }
}